<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Final-Exam
	meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')

	link(rel="stylesheet", href="css/main.css")
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")

	script(src="js/jquery-3.2.1.min.js")
	script(src="js/main.js")
	script(src="js/popper.min.js")
	script(src="js/bootstrap.min.js")

body
	.TOP
		header(id="HOME")
			.im
				img(src="im/cloud1.png", alt="" ,class="cl cl1")
				img(src="im/cloud2.png", alt="" ,class="cl cl2")
				img(src="im/cloud3.png", alt="" ,class="cl cl3")
				img(src="im/cloud4.png", alt="" ,class="cl cl4")
				img(src="im/cloud5.png", alt="" ,class="cl cl5")
				img(src="im/background.png", alt="" ,class="bg")
				.wheel
					img(src="im/top.png", alt="" ,class="tp")
					img(src="im/bottom.png", alt="" ,class="bt")
				img(src="im/background2.png", alt="" ,class="bg bg2")
				img(src="im/van.png", alt="" ,class="van")
			.center
				.menu
					input(type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open")
					label(class="menu-open-button" for="menu-open")
						img(src="im/map.png", alt="" ,class="menu-img")
						li(href="", class="menu-text", target="_") Taichung 
							br
							| BRT | 303 | BUS
					a(href="#HOME" class="menu-item menu-item1" title="HOME")
						i(class="fas fa-home fa-3x" id="itemH")
					a(href="#ABT" class="menu-item menu-item2" title="ABOUT")
						i(class="fas fa-list fa-3x" id="itemA")
					a(href="#INTRO" class="menu-item menu-item3" title="INTRODUCE")
						i(class="fab fa-pagelines fa-3x" id="itemI")
					a(href="#RECOMMEND" class="menu-item menu-item4" title="RECOMMEND")
						i(class="fas fa-envelope fa-3x" id="itemC")
					a(href="#OTHERS" class="menu-item menu-item5" title="OTHERS")
						i(class="fas fa-ellipsis-h fa-3x" id="itemO")
	.wrapper
		nav
			.contain
				.logo 
					.logoL Taichung 
					.logoR | BRT | 303 | BUS |
				ul(class="menuh")
					li
						a(href="#ABT" id="btnA" title="關於") 關於 ⏷
						.button
							ul
								li
									a(href="#SepF" id="btnF" title="前言") 前言
								li
									a(href="#TAICHUNG" id="btnT" title="認識台中") 認識台中
								li
									a(href="#BRT" id="btnB" title="認識BRT") 認識BRT
								li
									a(href="#ROUTE" id="btnR" title="303路線") 303路線
					li
						a(href="#INTRO" id="btnI" title="景點介紹") 景點介紹
					li
						a(href="#RECOMMEND" id="btnC" title="我要推薦") 我要推薦
					li
						a(href="#OTHERS" id="btnO" title="其他") 其他
		content
			.ABT
				.top_title_ABT(id="ABT")
					.top_box_ABT About Something
					.top_bottom_ABT
						.top_tail
				.FOREWORD(id="FOREWORD")
					.top_title
						.subtitle Abt Foreword
						.title 前言
					.btm_content
						| 身為台中人，對我們來說，台中的公車就像是台北的捷運一般的存在，大部分的年輕人都是以公車代步，而最大宗的族群就是學生。
						br
						| 台中公車十分普及，幾乎所有的觀光地點都有公車可以到達，所以若想來到台中旅遊，絕對不用擔心代步工具，台中擁有的公車輛十分龐大，幾乎10~15分鐘就有一台公車，當然也可以選擇騎ibike遊台中。
						br
						| 
						br
						| 有別於台灣其他地方用分段點、緩衝區的方式收費，台中市公車是採「里程計費」，上下車皆須刷卡，搭乘越遠，使用者就必須付更多錢，落實比例原則。
						br
						| 最重要的事，現在搭乘台中市市區公車，刷卡包括悠遊卡、一卡通，都享有10公里內免費的優惠價，且全票票價上限60元、半票票價上限30元。
						br
						| 還不快來台中玩！
						br
						| 
						br
						| 今天要為大家介紹台中303號公車可以遊玩的景點，在介紹遊玩景點前，先幫大家科普一些小知識，都是網路找的資料，更詳細的可以自己上網搜搜看看喔！
				.TAICHUNG(id="TAICHUNG")
					.top_title
						.subtitle Abt Taichung
						.title 認識台中
					.btm_content
						| 台中市位在台灣中部，西望面臨台灣海峽，中央為台中盆地，是台中市的人口稠密區。總面積約2,215平方公里，設籍人口279.3萬人，為台灣人口排名第二的城市，也是「台中都會區」的核心都市。
						br
						| 2016年GaWC所公布之世界級城市名單中，台中市列為Gamma-等級之城市，在台灣入榜城市之中排名第二位，為台灣重要的國際都市。
						br
						| 「台中」意即「台灣之中央」，名稱始於日治時期，是台灣的地名之中最晚出現的名稱。日治時期因日本人刻意打造一座現代化城市，以市區改正政策將早期市區規劃整然有致，整治流經市區的綠川和柳川，植有柳樹，幽靜美麗，彷若京都鴨川，而有「台灣的京都」之稱。
						.i
							i(class="fas fa-tree fa-1x")
								.in 市樹：台灣五葉松　　
							i(class="fas fa-seedling fa-1x")
								.in 市花：山櫻花　　
							i(class="fas fa-dove fa-1x")
								.in 市鳥：白耳畫眉
				.BRT(id="BRT")
					.top_title
						.subtitle Abt BRT
						.title 認識BRT
					.btm_content 
						| 台中市快捷巴士系統（簡稱台中BRT），又稱台中快捷巴士，是台灣台中市「已廢止」的公車捷運系統，原車輛與路線已改制成台中市公車300路。
						br
						| 是繼嘉義BRT及2010年台北國際花卉博覽會接駁公車園內線之後，台灣第三座公車捷運系統；亦是台灣第一個採站外收費、半高式月台門及使用雙節公車的公車捷運系統，除部分路段為混合車道以及道路平面交叉外，其餘設置專用道，以捷運的概念營運。
						br
						| 全線行駛於台灣大道的公車專用道，經過多個學區、商圈、交通轉運站以及政府機關，為台中重要市公車路線之一。
						br
						| 
						br
						| ➤台中人還是習慣將台中市公車300路統稱作BRT
				.ROUTE(id="ROUTE")
					.top_title
						.subtitle Abt Route
						.title 303路線
					.btm_content 
						| 台中市公車303路行駛港區藝術中心到新民高中，主要行經清水區鰲峰路、清水區中山路、沙鹿區中山路及台灣大道，由統聯客運營運。本路線於台灣大道行駛公車專用道，為重要市公車路線之一，與台中市公車304路路線大略相同。
						br
						| 全程行車里數約28.0公里，全程行車時間約1小時40分鐘。往新民高中共57站，往港區藝術中心共60站。
						br
						| 本路線從港區藝術中心起，沿著清水區鎮政路、鰲峰路、清水區中山路、沙鹿區中山路、光大路、光華路、臺灣大道、中區中山路、建國路、雙十路、精武路、三民路、崇德路及健行路至新民高中。
					img(src="im/bus2.png", alt="" ,class="imbus")
			.INTRO
				.top_title_INTRO(id="INTRO")
					.top_box_INTRO Introduce attractions
					.top_bottom_INTRO
						.top_tail
				.MYtab
					span(id="tab-1" style="display: none;") 1
					span(id="tab-2" style="display: none;") 2
					span(id="tab-3" style="display: none;") 3
					div(id="tab")
						ul
							li
								a(href="#tab-1" class="tab-AA" title="PHOTO HOT SPOT") PHOTO HOT SPOT
							li
								a(href="#tab-2" class="tab-BB" title="BUILDING") BUILDING
							li
								a(href="#tab-3" class="tab-CC" title="FOOD") FOOD
						.AA(id="AA")
							p 
								div(id="outbox")
									.content_box 
										.Abox
											#A1.carousel.slide(data-ride='carousel')
												ol.carousel-indicators
													li.active(data-target='#A1', data-slide-to='0')
													li(data-target='#A1', data-slide-to='1')
													li(data-target='#A1', data-slide-to='2')
												.carousel-inner
													.carousel-item.active
														img.d-block.w-100(src='im/A1-0.jpg', alt='First slide')
													.carousel-item
														img.d-block.w-100(src='im/A1-1.jpg', alt='Second slide')
													.carousel-item
														img.d-block.w-100(src='im/A1-2.jpg', alt='Third slide')
												a.carousel-control-prev(href='#A1', role='button', data-slide='prev')
													span.carousel-control-prev-icon(aria-hidden='true')
														i(class="fas fa-angle-left fa-2x")
													span.sr-only Previous
												a.carousel-control-next(href='#A1', role='button', data-slide='next')
													span.carousel-control-next-icon(aria-hidden='true')
														i(class="fas fa-angle-right fa-2x")
													span.sr-only Next
											.Abox_title 20號倉庫藝術特區
											.Abox_text 
												| ➤臺中火車站站
												br
												| ➤台中市中區復興路四段37巷6-1號
												br
												| 開放時間：週一　週休
												br
												| 　　　　　週二至週日　09：30－18：00
												br
												| 官方網站：
												a(href="https://facebook.com/Taichung.stock20/" target="_blank" style="color: #000;")
													i(class="fab fa-facebook-square" style="left: 1px;")
												a(href="http://stock20.boch.gov.tw/" target="_blank" style="color: #000;")
													i(class="fas fa-globe" style="left: 10px;")
											.Abox_mine
												| 20號倉庫興建於1917年，於1995年納入二級古蹟，為臺中地區重要的人文環境和觀光資源。
												br
												| 最近因為火車站在施工，所以可以拍照的範圍變小了TT
									.content_box 
										.Abox
											#A2.carousel.slide(data-ride='carousel')
												ol.carousel-indicators
													li.active(data-target='#A2', data-slide-to='0')
													li(data-target='#A2', data-slide-to='1')
													li(data-target='#A2', data-slide-to='2')
													li(data-target='#A2', data-slide-to='3')
												.carousel-inner
													.carousel-item.active
														img.d-block.w-100(src='im/A2-0.jpg', alt='First slide')
													.carousel-item
														img.d-block.w-100(src='im/A2-1.jpg', alt='Second slide')
													.carousel-item
														img.d-block.w-100(src='im/A2-2.jpg', alt='Third slide')
													.carousel-item
														img.d-block.w-100(src='im/A2-3.jpg', alt='fourth slide')
												a.carousel-control-prev(href='#A2', role='button', data-slide='prev')
													span.carousel-control-prev-icon(aria-hidden='true')
														i(class="fas fa-angle-left fa-2x")
													span.sr-only Previous
												a.carousel-control-next(href='#A2', role='button', data-slide='next')
													span.carousel-control-next-icon(aria-hidden='true')
														i(class="fas fa-angle-right fa-2x")
													span.sr-only Next
											.Abox_title 柳川水岸
											.Abox_text 
												| ➤仁愛醫院站
												br
												| ➤台中市中區柳川西路三段
									.content_box 
										.Abox
											#A3.carousel.slide(data-ride='carousel')
												ol.carousel-indicators
													li.active(data-target='#A3', data-slide-to='0')
													li(data-target='#A3', data-slide-to='1')
												.carousel-inner
													.carousel-item.active
														img.d-block.w-100(src='im/A3-0.jpg', alt='First slide')
													.carousel-item
														img.d-block.w-100(src='im/A3-1.jpg', alt='Second slide')
												a.carousel-control-prev(href='#A3', role='button', data-slide='prev')
													span.carousel-control-prev-icon(aria-hidden='true')
														i(class="fas fa-angle-left fa-2x")
													span.sr-only Previous
												a.carousel-control-next(href='#A3', role='button', data-slide='next')
													span.carousel-control-next-icon(aria-hidden='true')
														i(class="fas fa-angle-right fa-2x")
													span.sr-only Next
											.Abox_title 草悟道
											.Abox_text 
												| ➤科博館站
												br
												| ➤台中市西區向上北路
												br
												| 營業時間：週一至週日　24小時營業
									.content_box 
										.Abox
											#A4.carousel.slide(data-ride='carousel')
												ol.carousel-indicators
													li.active(data-target='#A4', data-slide-to='0')
													li(data-target='#A4', data-slide-to='1')
													li(data-target='#A4', data-slide-to='2')
													li(data-target='#A4', data-slide-to='3')
												.carousel-inner
													.carousel-item.active
														img.d-block.w-100(src='im/A4-0.jpg', alt='First slide')
													.carousel-item
														img.d-block.w-100(src='im/A4-1.jpg', alt='Second slide')
													.carousel-item
														img.d-block.w-100(src='im/A4-2.jpg', alt='Third slide')
													.carousel-item
														img.d-block.w-100(src='im/A4-3.jpg', alt='fourth slide')
												a.carousel-control-prev(href='#A4', role='button', data-slide='prev')
													span.carousel-control-prev-icon(aria-hidden='true')
														i(class="fas fa-angle-left fa-2x")
													span.sr-only Previous
												a.carousel-control-next(href='#A4', role='button', data-slide='next')
													span.carousel-control-next-icon(aria-hidden='true')
														i(class="fas fa-angle-right fa-2x")
													span.sr-only Next
											.Abox_title Adidas愛迪達綠園道店
											.Abox_text 
												| ➤科博館站
												br
												| ➤台中市西區中興街219號
												br
												| 營業時間：週一至週五　11:00－22:00
												br
												| 　　　　　週六至週日　10:30－22:00
											.Abox_mine 一樓直直走到底，有一個顛倒籃球場，超大顆半圓型籃球，可以坐在上面上拍照，同樣在一樓，有一個從店裡延伸出來的跑道，也是經典的必拍場景之一。
												br
												| 走到2樓的戶外看台，有一個水藍色愛迪達三片葉空中花園，整個空中花園都是水藍色系，到處都很好拍照！
									.content_box 
										.Abox
											#A5.carousel.slide(data-ride='carousel')
												ol.carousel-indicators
													li.active(data-target='#A5', data-slide-to='0')
													li(data-target='#A5', data-slide-to='1')
													li(data-target='#A5', data-slide-to='2')
													li(data-target='#A5', data-slide-to='3')
												.carousel-inner
													.carousel-item.active
														img.d-block.w-100(src='im/A5-0.jpg', alt='First slide')
													.carousel-item
														img.d-block.w-100(src='im/A5-1.jpg', alt='Second slide')
													.carousel-item
														img.d-block.w-100(src='im/A5-2.jpg', alt='Third slide')
													.carousel-item
														img.d-block.w-100(src='im/A5-3.jpg', alt='fourth slide')
												a.carousel-control-prev(href='#A5', role='button', data-slide='prev')
													span.carousel-control-prev-icon(aria-hidden='true')
														i(class="fas fa-angle-left fa-2x")
													span.sr-only Previous
												a.carousel-control-next(href='#A5', role='button', data-slide='next')
													span.carousel-control-next-icon(aria-hidden='true')
														i(class="fas fa-angle-right fa-2x")
													span.sr-only Next
											.Abox_title 勤美美術館
											.Abox_text 
												| ➤科博館站
												br
												| ➤台中市西區館前路71號
												br
												| 展館開放：週一至週二　休館
												br
												| 　　　　　週三至週日　14：00－19：30
												br
												| 　　　　　(開放時間依各展期調整)
												br
												| 官方網站：
												a(href="https://www.facebook.com/cmpblockmuseum" target="_blank" style="color: #000;")
													i(class="fab fa-facebook-square" style="left: 1px;")
												a(href="http://cmpblockmuseum.tw/" target="_blank" style="color: #000;")
													i(class="fas fa-globe" style="left: 10px;")
											.Abox_mine 
												| 每個展覽活動展期不同，所以可能每次去都不一樣喔！
												br
												| 務必查好展期和天氣預報！不然很可能撲空喔！
									.content_box 
										.Abox
											#A6.carousel.slide(data-ride='carousel')
												ol.carousel-indicators
													li.active(data-target='#A6', data-slide-to='0')
													li(data-target='#A6', data-slide-to='1')
													li(data-target='#A6', data-slide-to='2')
													li(data-target='#A6', data-slide-to='3')
													li(data-target='#A6', data-slide-to='4')
												.carousel-inner
													.carousel-item.active
														img.d-block.w-100(src='im/A6-0.jpg', alt='First slide')
													.carousel-item
														img.d-block.w-100(src='im/A6-1.jpg', alt='Second slide')
													.carousel-item
														img.d-block.w-100(src='im/A6-2.jpg', alt='Third slide')
													.carousel-item
														img.d-block.w-100(src='im/A6-3.jpg', alt='fourth slide')
													.carousel-item
														img.d-block.w-100(src='im/A6-4.jpg', alt='fifth slide')
												a.carousel-control-prev(href='#A6', role='button', data-slide='prev')
													span.carousel-control-prev-icon(aria-hidden='true')
														i(class="fas fa-angle-left fa-2x")
													span.sr-only Previous
												a.carousel-control-next(href='#A6', role='button', data-slide='next')
													span.carousel-control-next-icon(aria-hidden='true')
														i(class="fas fa-angle-right fa-2x")
													span.sr-only Next
											.Abox_title UNO市集
											.Abox_text 
												| ➤新光 / 遠百站
												br
												| ➤台中市西屯區台灣大道三段251號旁(台中大遠百旁)
												br
												| 營業時間：週一至週四　14：00－23：00
												br
												| 　　　　　週五至週日　11：00－23：00
												br
												| 官方網站：
												a(href="https://www.facebook.com/unouno.tw408/" target="_blank" style="color: #000;")
													i(class="fab fa-facebook-square" style="left: 1px;")
						.BB(id="BB")
							p 
								div(id="outbox2")
									.content_box 
										.Bbox
											.Bbox_im
												img(src="im/B1.jpg" class="Bbox_img")
											.Bbox_title 中友百貨－主題廁所
											.Bbox_text 
												| ➤中友百貨站
												br
												| ➤台中市北區三民路三段161號
												br
												| 　　中友百貨是臺灣臺中市的一家大型百貨公司，於1992年4月30日開業。中友百貨所在之建築為「世紀21廣場」大樓，共分為A、B、C三館，各館間於各樓層以空橋相互連通，今中友百貨已為臺中市營運時間最久的百貨公司，並且為臺灣中部核心城市臺中市年營業額前三大的百貨公司之一。
												br
												| 　　中友百貨自2003年起陸續改裝各樓層廁所為主題廁所，屢屢被媒體報導其特別之處，亦曾獲得亞洲時代雜誌報導、英國公開旅遊網站票選為世界十大精彩廁所，目前共擁有15間不同的主題廁所。
											.Bbox_mine
												| 由於中友百貨改裝，很有名的親子廁所綠野仙蹤跟海底總動員已經看不到了喔！
												br
												| A棟6樓是男廁，小編進不去，有興趣的朋友可以自己去看一看喔！
											.photo_title(id="flip")
												input(type="button" value="MORE PHOTO ＋" id="title_btn" class="title_btn")
											.photo_content(id="pane")
												.scroll
													a(class="content_btn" id="left" style="left:5px")
														i(class="fas fa-chevron-left fa-2x")
													a(class="content_btn" id="right" style="right:5px")
														i(class="fas fa-chevron-right fa-2x")
													.content_photo
														.content_main(id="more_main")
															.content_im(style="width: 4500px; top:5px")
																.down
																	img(src="im/B1-A-3.jpg" style="width:300px")
																	br
																	| A棟3F 巧克力甜心。女廁
																.down
																	img(src="im/B1-A-4.jpg" style="width:300px")
																	br
																	| A棟4F 繽紛普普風。女廁
																.down
																	img(src="im/B1-A-5.jpg" style="width:300px")
																	br
																	| A棟5F 浪漫勃根地。女廁
																.down
																	img(src="im/B1-A-6.jpg" style="width:300px")
																	br
																	| A棟6F 酣醉PUB。男廁
																.down
																	img(src="im/B1-A-7.jpg" style="width:300px")
																	br
																	| A棟7F 瑪麗公主。女廁
																.down
																	img(src="im/B1-A-9.jpg" style="width:300px")
																	br
																	| A棟9F 冷冽街頭。男／女廁
																.down
																	img(src="im/B1-A-10.jpg" style="width:300px")
																	br
																	| A棟10F 生活易開罐。男廁／女廁
																.down
																	img(src="im/B1-A-11.jpg" style="width:300px")
																	br
																	| A棟11F 白色綺想。女廁
																.down
																	img(src="im/B1-A-12.jpg" style="width:300px")
																	br
																	| A棟12F 秘密花園。男／女廁
																.down
																	img(src="im/B1-B-B2.jpg" style="width:300px")
																	br
																	| B棟B2 透視未來。男／女廁
																.down
																	img(src="im/B1-B-B3.jpg" style="width:300px")
																	br
																	| B棟B3 東方小巴黎。男／女廁
																.down
																	img(src="im/B1-C-2.jpg" style="width:300px")
																	br
																	| C棟2F 浪漫玫瑰。男廁／女廁
																.down
																	img(src="im/B1-C-5.jpg" style="width:300px")
																	br
																	| C棟5F 璀璨洛可可。女廁
																.down
																	img(src="im/B1-C-13.jpg" style="width:300px")
																	br
																	| C棟13F 浮世光影。女廁
																.down
																	img(src="im/B1-C-15.jpg" style="width:300px")
																	br
																	| C棟15F 人文藝棧。女廁
									.content_box 
										.Bbox
											.Bbox_im
												.Bbox_ic
													i(class="fas fa-angle-up" id="clickB2U" style="top: -5px;")
												.Bbox_products(id="products2")
													img(src="im/B2-0.jpg" class="Bbox_img" )
												.Bbox_menu_dot(id="menu_dot2")
													img(src="im/dot-color.png" style="top:5px" )
													img(src="im/dot-white.png" style="bottom:5px" )
												.Bbox_ic
													i(class="fas fa-angle-down" id="clickB2D" style="bottom: 22px")
											.Bbox_title 臺中火車站(舊站)
											.Bbox_text 
												| ➤臺中火車站站
												br
												| ➤台中市中區台灣大道一段1號
												br
												| 　　臺中火車站為中部地區第一大站，位居臺灣西部鐵路縱貫線的中心。第三代臺中火車站（稱作新站）在2016年10月16日正式通車，自此開始各級列車切換行駛於高架軌道，位於地面的平交道與地下道將陸續拆除或填平。
												br
												| 　　臺中火車站舊站建於明治時代，於1906年通車，至2016年10月15日臺中鐵路高架化通車前所使用的鐵路車站，現今的火車站樣貌為1917年改建，巴洛克式的建築搭配山牆式設計，屋頂則由青銅片拼成，是全臺碩存最完整的火車站之一，也是二級古蹟（今為國定古蹟）。未來舊站站體、月臺與1.6公里的原鐵軌駁坎將原地保存，並結合周圍相關文化資產轉型為文化設施。
									.content_box 
										.Bbox
											.Bbox_im
												.Bbox_ic
													i(class="fas fa-angle-up" id="clickB3U" style="top: -5px;")
												.Bbox_products(id="products3")
													img(src="im/B3-0.jpg" class="Bbox_img" )
												.Bbox_menu_dot(id="menu_dot3")
													img(src="im/dot-color.png" style="top:5px" )
													img(src="im/dot-white.png" style="bottom:5px" )
												.Bbox_ic
													i(class="fas fa-angle-down" id="clickB3D" style="bottom: 22px")
											.Bbox_title 勤美誠品
											.Bbox_text 
												| ➤科博館站
												br
												| ➤台中市西區公益路68號
												br
												| 　　勤美誠品綠園道是位在西區公益路與草悟道旁的購物商場。由知名建築師將大樓重新改裝設計，原本這棟建築物本是半廢棄的停車場大樓，在勤美與誠品團隊接手之後，為了讓這棟建物能與周遭的綠意融合，堅守尊重自然的理念，在結合數百位專家克服萬難之後，決定讓四周的綠意往牆面上延伸，打造一座讓植栽與建築共生的都市立體花園。
												br
												| 　　這是台灣第一座大型植生牆，外牆上總共有12萬顆植栽自然生長，配置了3公里長的水路管線，定時提供水份和養份，這些植栽每天能吸收200公斤的二氧化碳，釋放150公斤的氧氣，在夏天還能有降溫節電的效果。
												br
												| 　　除了建築外觀之外，為了打造一個充滿陽光、空氣、水的綠色購物空間，不惜打掉了購物中心正中央的精華地區、創造挑空5層樓、高達20公尺的室內植生牆，並精心地設計了水循環鏡面水池，架設水中舞台作為文化創意活動的表演場地。讓勤美誠品綠園道成為自然人文新地標，不但榮獲2009國家卓越建設，更代表台灣榮獲素有不動產屆奧斯卡獎之稱的「2010年全球卓越建築獎」。
									.content_box 
										.Bbox
											.Bbox_im
												img(src="im/B4.jpg" class="Bbox_img")
											.Bbox_title 國家歌劇院
											.Bbox_text 
												| ➤新光 / 遠百站
												br
												| ➤台中市西屯區惠來路二段101號
												br
												| 　　國家歌劇院位於臺中市西屯區七期重劃區，是一大型公有展演空間，由曾獲普立茲克獎的日本建築師伊東豊雄設計。臺中國家歌劇院得天獨厚，在這完美建築之內，有三座專業劇場以及一個多功能空間「角落沙龍」；如果再加上藍天白雲下的廣場、戶外劇場、與屋頂的空中花園，歌劇院可說從裡到外、從地面到屋頂，都是魅力的舞台。
												br
												| 　　臺中國家歌劇院造型前衛，以「美聲涵洞」概念，採用曲牆、孔洞與管狀等別具一格的設計，全棟共有58面曲牆，每面曲牆有1372片小係數，每一塊都要量身訂作，無法大規模量產，是一項必需精密計算的浩大工程。整棟建築完全沒有樑柱支撐，也無一處為90度牆面，顛覆了一般建築物的概念。另外國家歌劇院有一處綠地公園，就連公園裡水溝也延伸至建築裡，打破了室內與室外的疆界。
									.content_box 
										.Bbox
											.Bbox_im
												img(src="im/B5.jpg" class="Bbox_img")
											.Bbox_title 秋紅谷
											.Bbox_text 
												| ➤秋紅谷站
												br
												| ➤台中市西屯區朝富路30號
												br
												| 　　位於臺灣大道二段、朝富路口，被稱之為「都市之肺」的秋紅谷廣場，不論甚麼時節，漫步在秋紅谷廣場都是個賞心悅目的享受！位於臺中市臺灣大道旁的秋紅谷廣場，是臺中地區特有的凹型市民休閒綠地，占地3公頃多的秋紅谷公園，擁有湖泊、紅樹、綠草坪、觀景橋，相當適合散步、約會、運動，白天有舒服的綠意；夜晚有著精采萬變的不夜燈火。
												br
												| 　　秋紅谷廣場所有的設計與考量都是以人本、綠能與滯洪為最大考量，不僅種植植物所需的灌溉水是以湖水供應，連回填所需用的土壤也是與水利署協調利用大里溪疏濬的土壤，成為全臺首座「下凹式」的生態公園；秋紅谷廣場的設立，是希望讓市民的生活更感輕鬆、從容，同時兼具景觀、生態、滯洪、排水與調節空氣品質等等的功能。
						.CC(id="CC")
							p ❖ 因為台中美食太多了，所以跟大家介紹其中一大美食集中地⯈一中商圈
								div(id="outbox")
									.content_box 
										.Cbox
											img(src='im/C1.jpg')
											.Cbox_in
												.Cbox_title I PLAZA愛廣場
												.Cbox_text
													| 台中市北區一中街96、98號
													br
													| 營業時間：週一至週日
													br
													| 11：00－23：00
												a(href="https://www.facebook.com/twiplaza/" target="_blank" style="color: #000;")
													i(class="fas fa-globe fa-1x")
									.content_box 
										.Cbox
											img(src='im/C2.jpg')
											.Cbox_in
												.Cbox_title Q弟紅豆餅－一中店
												.Cbox_text
													| 台中市北區三民路三段94號
													br
													| 營業時間：週一至週日
													br
													| 11：00－19：00
												a(href="https://www.facebook.com/Q323727027/" target="_blank" style="color: #000;")
													i(class="fas fa-globe fa-1x")
									.content_box 
										.Cbox
											img(src='im/C3.jpg')
											.Cbox_in
												.Cbox_title 阿月紅茶冰
												.Cbox_text
													| 台中市北區一中街96號
													br
													| 營業時間：週一至週日
													br
													| 10：30－23：30
												a(href="https://www.facebook.com/icedblacktea/" target="_blank" style="color: #000;")
													i(class="fas fa-globe fa-1x")
									.content_box 
										.Cbox
											img(src='im/C4.jpg')
											.Cbox_in
												.Cbox_title 一中豪大雞排
												.Cbox_text
													| 台中市北區一中街49號
													br
													| 營業時間：週一至週日
													br
													| 12：00－22：00
									.content_box 
										.Cbox
											img(src='im/C5.jpg')
											.Cbox_in
												.Cbox_title 一中豐仁冰
												.Cbox_text
													| 台中市北區育才街3巷4-6號
													br
													| 營業時間：週一至週日
													br
													| 10：00－22：30
												a(href="https://www.facebook.com/fengren1946/" target="_blank" style="color: #000;")
													i(class="fas fa-globe fa-1x")
									.content_box 
										.Cbox
											img(src='im/C6.jpg')
											.Cbox_in
												.Cbox_title 福州包
												.Cbox_text
													| 台中市北區育才街6巷巷口
													br
													| 營業時間：週一至週日
													br
													| 下午至賣完
									.content_box 
										.Cbox
											img(src='im/C7.jpg')
											.Cbox_in
												.Cbox_title 一中8兩碳烤雞排
												.Cbox_text
													| 台中市北區一中街（水利大樓前）
													br
													| 營業時間：週一至週日
													br
													| 11：00－23：00
												a(href="http://0923177364.tw.tranews.com/" target="_blank" style="color: #000;")
													i(class="fas fa-globe fa-1x")
									.content_box 
										.Cbox
											img(src='im/C8.jpg')
											.Cbox_in
												.Cbox_title 一中街鯛魚燒霜淇淋
												.Cbox_text
													| 台中市北區育才街19-1號
													br
													| 營業時間：週一至週日
													br
													| 14：00－21：30
												a(href="https://www.facebook.com/eaticefish/" target="_blank" style="color: #000;")
													i(class="fas fa-globe fa-1x")
			.RECOMMEND(id="RECOMMEND")
				.message.message1
					img(src="im/view.jpg", alt="" ,class="massage_im")
				.message.message2
					.message_title
						.message_box Give A Recommendation
						.message_bottom
							.message_tail
						.message_text 
							| 你知道更多台中好玩的景點,　或是有什麼一定要推薦的最佳景點嗎？
							br
							| 留言告訴我，讓更多人知道台中的隱藏景點吧！
					.liuyan(id="liuyan")
						div(id="user" class="user")
							input(type="text" id="username" class="text-success" placeholder="您的暱稱 ..." onclick="no()")
							input(type="text" id="userplace" class="text-success" placeholder="推薦地點 ..." onclick="no()")
						div(id="usermessage")
							.content
								form
									textarea(id="textmessage" class="text-success" placeholder="留個言吧 ..." onclick="no()")
									input(type="button" id="btn" class="btn-success" value="送出" for="textmessage" onclick="no()")
									input(type="button" id="res" class="btn-success" value="清除" onclick="yes()")
			.OTHERS(id="OTHERS")
				.person
					.person_left
						.person_top
							span(style="font-size:32px;font-weight: bolder") Meang_Yu
							span(style="font-size:14px;") 　大學一年級生
							br
							span(style="color:#A1A1A1;font-weight: bolder;") Designer / Photographer
						.person_text 
							| 這原本是閱讀與寫作課的一份報告，報告內容是要向大家介紹公車路線與其可遊玩景點，現在我將這份報告搖身一變成為一個小網站。
							br
							| 希望透過這個小網站，大家能用另一種方法去看完這份報告，也希望大家看完後，會更喜歡台中❤
					.person_right
						img(src="im/designer.png", alt="" class="person_img")
				.person
					.person_left
						.person_top
							span(style="font-size:32px;font-weight: bolder;") Yu_Zhang
							span(style="font-size:14px;") 　大學一年級生
							br
							span(style='color:#A1A1A1;font-weight: bolder;') Painter
						.person_text 
							| 這位是本網站的繪者，首頁的主要圖樣跟動圖都是出自她手，是一個十分熱愛繪畫的人。
							br
							| 除了原本在報告中就使用的圖以外，還友情提供了其他圖樣，喜歡本網站插圖的朋友們，歡迎追蹤關注她的粉絲專業喔！
							br
							| 
							i(class="fab fa-facebook-square" style="left: 1px;")
							a(href="https://www.facebook.com/albada00/" target="_blank" style="text-decoration: none;color: #000;font-weight: bolder;left: 10px;" title="Albada 艾爾巴達") Albada 艾爾巴達
					.person_right
						img(src="im/painter.png", alt="" class="person_img")
	.BOttoM
		footer Copyright © 2018 Meang_Yu All rights reserved.
		



	a(id="backtotop" href="#HOME" title="返回頂部" )
				i(class="fas fa-chevron-circle-up fa-3x" alt="Back to Top")

	
	